h1 {
    background: -webkit-linear-gradient(#809fff, #4e4e4e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1%;
}


#loggedin p {
    padding-top: 2%;
    float: right;
}


#loading {
    display: none;
}


#close {
    display: none;
    cursor: pointer;
    font-family: Garamond, 'Apple Garamond', "Lucida Sans Unicode";
    font-size: 250%;
    color: grey;
    float: left;
    padding-left: 1.5%;
    padding-right: 1.5%;
    margin-left: 5%;
}

#close:hover {
    color: whitesmoke;
    background-color: lightgrey;

}


th, td {
    padding: 3%;
}


#control-row:hover {
    background-color: transparent;
}


.circle text {
    fill: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



