h1 {
    background: -webkit-linear-gradient(#809fff, #4e4e4e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1%;
}


#login {
    padding-top: 1%;
    float: right;
}


#loggedin {
    display: none;
}


#loading {
    display: none;
}


#close {
    display: none;
}


th, td {
    padding: 3%;
}


#control-row:hover {
    background-color: transparent;
}


.circle text {
    fill: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



