* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#titleheader {
    background: linear-gradient(to bottom, #669999 0%, #ccccff 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    height: 6em;
}

#titleheader h1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 5em;
    font-variant: small-caps;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-font-smoothing: antialiased;
    align-self: center;
    padding-left: 5em;
    text-shadow: 1px 3px 2px rgba(0,0,0, 0.3);
}

#login {
    color: #383838;
    float: right;
    border: 2px;
    padding: 10px;
    font-size: small;
    align-self: flex-end;
}


#startbutton {
    border-radius: 10px;
    border: 1px;
    box-shadow: 1px 1px 1px grey;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    padding: 10px;
    margin: 2em;
}

.runbutton {
    border-radius: 10px;
    border: 1px;
    box-shadow: 1px 1px 1px grey;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 8px;
    margin: 1em;
}

#deletequery {
    background-color: #E0E0E0;
    border-radius: 10px;
    border: 1px;
    box-shadow: 1px 1px 1px #400000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 6px;
    margin: 1em;
}

th, td {
    padding: 5px;
    padding-left: 20px;

}

th {
    text-align: left;
}

tr {
    padding-bottom: 1em;
}

#loginmessage {
    color: red;
}

#loggedin {
    display: none;
    float: right;
    border: 2px;
    padding: 10px;
    font-size: small;
}

button {
    background-color: #E0E0E0;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #383838;
}

li {
    float: left;
}

li a {
    display: block;
    color: ghostwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #101010;
}

#testdata {
    margin: auto;
    width: 100%;
    text-align: center;
}

.queries #testdata {
    display: none;
}

#loading {
    display: none;
    text-align: center;
}

#close {
    display: none;
    margin: 10px;
    padding: 10px;
}

.message {
    padding: 20px;
}

#close:hover {
    background-color: lightgrey;
}


.circle text {
    fill: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}




