<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width", initial-scale="1.0">
    <title>queries</title>
    <!-- bootstrap Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "site.css" %}">
</head>
<body>
    <div class="container-fluid row" id="titleheader">
        <div class="col-md-5">
            <h1>genius loci</h1>
        </div>

        <div class="col-md-5 col-md-offset-2" id="login">
            <form action="{% url "login" %}" method="post" class="form-inline" id="loginform">
                {% csrf_token %}
                <div class="form-group">
                    <label class="sr-only" for="username">username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="password">password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="password">
                </div>
                <button type="button" id="loginbutton">Log In</button>
                <p id="loginmessage"></p>
            </form>
        </div>
        <div class="col-md-5 col-md-offset-2" id="loggedin">
            <p>Welcome, <span id="firstname"></span>! You are logged in.
            <button type="button" class="btn" id="logoutbutton">Log Out</button></p>
        </div>
    </div>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Twitter Search</a></li>
                    <li><a href="{% url 'queries' %}" name="menu2">My Query History</a></li>
                </ul>
            </div>
        </nav>


    <div class="container" id="querydata">
        {% if user_queries %}
            <table class="table-hover col-sm-8" id="querytable">
            <tr id="control-row">
                <th></th>
                <th><input type="checkbox" id="checkall"></th>
                <th><input type="button"  id="deletequery" value="Delete Selected"></th>
            </tr>
            <tr>
                    <td>{% for query in user_queries %}</td>
                    <td><input type="checkbox" class="todelete" name="todelete" value="{{ query.id }}"></td>
                    <td class="queried-user">{{ query.user }}</td>
                    <td class="timestamp" id="time{{ query.id }}">{{ query.query_timestamp }}</td>
                    <td>
                        <input type="button" class="runbutton" id="run{{ query.id }}" value="run search">
                    </td>
            </tr>
                    <tr>
                    <td>{% endfor %}</td>
                    </tr>
            </table>
        {% else %}
            <p>No queries available</p>
        {% endif %}
    </div>
    <div class="message"><span id="close">close</span></div>
    <div class="queries" id="testdata">

    </div>


    <!--bootstrap jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--bootstrap Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
     <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-collection.v1.min.js"></script>
    <script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
    <script src="https://d3js.org/d3-quadtree.v1.min.js"></script>
    <script src="https://d3js.org/d3-timer.v1.min.js"></script>
    <script src="https://d3js.org/d3-force.v1.min.js"></script>
    <script src="{% static 'ajax_csrf_setup.js' %}"></script>
    <script src="{% static "site.js" %}"></script>
    <script src="{% static "query.js" %}"></script>
    <script src="{% static "bubble.js" %}"></script>
</body>
</html>