<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width", initial-scale="1.0">
    <title>home</title>
    <link rel="stylesheet" href="{% static "site.css" %}">
</head>
<body>
    <div id="titleheader">
        <h1>genius loci</h1>
        <div id="login">
            <form action="{% url "login" %}" method="post" id="loginform">
                {% csrf_token %}
                <label for="username">username</label>
                <input type="text" id="username" name="username">
                <label for="password">password</label>
                <input type="password" id="password" name="password">
                <button type="button" id="loginbutton">Log In</button>
                <p id="loginmessage"></p>
            </form>
        </div>
        <div id="loggedin">
            <p>Welcome, <span id="firstname"></span>! You are logged in.
            <button type="button" id="logoutbutton">Log Out</button></p>
        </div>
    </div>
    <ul id="tabs">
        <li><a href="{% url 'home' %}">Twitter Search</a></li>
        <li><a href="{% url 'queries' %}" name="menu2">My Query History</a></li>
    </ul>

    <div id="querydata">
        {% if user_queries %}
            <table id="querytable">
            <tr>
                <th></th>
                <th><input type="checkbox" id="checkall"></th>
                <th><input type="button" id="deletequery" value="Delete Selected"></th>
            </tr>
            <tr>
                    <td>{% for query in user_queries %}</td>
                    <td><input type="checkbox" class="todelete" name="todelete" value="{{ query.id }}"></td>
                    <td><a href={% url 'queries' %}>{{ query.user }}</a></td>
                    <td class="timestamp" id="time{{ query.id }}">{{ query.query_timestamp }}</td>
                    <td>
                        <input type="button" class="runbutton" id="run{{ query.id }}" value="run search">
                    </td>
            </tr>
                    <tr>
                    <td>{% endfor %}</td>
                    </tr>
            </table>
        {% else %}
            <p>No queries available</p>
        {% endif %}
    </div>
    <div class="message"><span id="close">close</span></div>
    <div class="queries" id="testdata">

    </div>



    <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
     <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-collection.v1.min.js"></script>
    <script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
    <script src="https://d3js.org/d3-quadtree.v1.min.js"></script>
    <script src="https://d3js.org/d3-timer.v1.min.js"></script>
    <script src="https://d3js.org/d3-force.v1.min.js"></script>
    <script src="{% static 'ajax_csrf_setup.js' %}"></script>
    <script src="{% static "site.js" %}"></script>
    <script src="{% static "query.js" %}"></script>
    <script src="{% static "bubble.js" %}"></script>
</body>
</html>