<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rerun</title>
    <link rel="stylesheet" href="{% static "site.css" %}">
</head>
<body>
    <ul id="tabs">
        <li><a href="{% url 'home' %}" name="menu1">Twitter Search</a></li>
        <li><a href="{% url 'queries' %}" name="menu2">My Query History</a></li>
    </ul>


    <div id="testdata">
{#        <svg id="bubbles"></svg>#}
    </div>



    <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
     <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-collection.v1.min.js"></script>
    <script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
    <script src="https://d3js.org/d3-quadtree.v1.min.js"></script>
    <script src="https://d3js.org/d3-timer.v1.min.js"></script>
    <script src="https://d3js.org/d3-force.v1.min.js"></script>
    <script src="{% static 'ajax_csrf_setup.js' %}"></script>
    <script src="{% static "site.js" %}"></script>
    <script src="{% static "tab.js" %}"></script>
    <script src="{% static "bubble.js" %}"></script>
    <script src="{% static "query.js" %}"></script>
    <script src="{% static "rerun.js" %}"></script>
</body>
</html>